aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
astroid==2.15.5
async-timeout==4.0.3
attrs==23.1.0
autopep8==1.5.5
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
Django==4.2.2
docutils==0.20.1
filelock==3.12.0
flake8==3.8.4
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
frozenlist==1.4.0
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.1.2
Kivy==2.2.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-examples==2.2.0
Kivy-Garden==0.1.5
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.6.1
multidict==6.0.4
openai==0.27.8
packaging==23.1
padelpy==0.1.15
parso==0.7.1
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
pycodestyle==2.6.0
pydocstyle==6.3.0
pyflakes==2.2.0
Pygments==2.15.1
pylint==2.17.4
pypiwin32==223
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
PySimpleGUIQt==0.30.0
python-dotenv==1.0.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.2.5
pywin32==306
PyYAML==6.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtgui==0.0.1
render==1.0.0
requests==2.31.0
rope==1.8.0
snowballstemmer==2.2.0
SQLAlchemy==2.0.19
sqlparse==0.4.4
tkinter-page==0.0.5
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
ujson==5.7.0
urllib3==2.0.2
virtualenv==20.23.0
Werkzeug==2.3.6
wrapt==1.15.0
yapf==0.33.0
yarl==1.9.2
