<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>
    <link rel="icon" href="static/logo.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .link-style {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Saiba Mais</h1>
    
    <p>Aqui está o link para o ReformadosCCR:</p>
    <a href="https://linktr.ee/reformadosccr?fbclid=IwAR2hww1OaH9Q23v7dK_xwRte9msXecvSBiHz4XxWUEwTZdGIATJc_gR4NCw" target="_blank" class="link-style">Link para o ReformadosCCR</a>

    <p>Outras informações interessantes podem ser adicionadas aqui.</p>
</body>
</html>
